<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body {
      margin: 0;
      padding: 0;
      background: black;
      overflow: hidden;
    }

    #game {
      margin: 0;
      padding: 0;
      background: black;
    }
  </style>
  <title>
    ABI-GTA
  </title>
</head>

<body>
</body>

</html>